doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title
            block title 
                | Default title

        != style('style')

        block extracss

    body
        header
            a#logo(href="/") EmpleosXD
            nav
                ul
                    li
                        a(href="/") Empleos

                    //- retorna el objeto user si existe un user logeado
                    if auth.user  
                        li
                            a(href="/publicar-empleo") Mis empleos
                        li
                            a(href="/logout") Cerrar Sesion

                    else
                        li
                            a(href="/login") Iniciar Sesion
                        li
                            a(href="/signup") Registrarse

        main.container
            block content